body {
	font-family: "Open Sans";
}

h1, h2 {
	font-weight: normal;
}

div.nav a {
	color: #1365A0;
}

a {
	color: #4E631A;
}

div.main {
	width: 70%;
	margin: 0 auto;
}

div.page {
	display: flex;
	padding-top: .9em;
}

div.sidebar {
	width: 25%;
	border-right: 1px solid #D6D6D6;
	padding-right: .5em;
}

div.content {
	flex-grow: 1;
}