body {
	font-family: "Open Sans";
}

h1, h2 {
	font-weight: normal;
}

div.nav a {
	color: #1365A0;
}

a {
	color: #4E631A;
}

p > code {
	border-radius: 2px;
	padding: .15em .2em;
	background: #f3f3f3;
}

pre.data_structure {
	margin-left: 2em;
	background: #eeeeee;
}

div.main {
	width: 70%;
	margin: 0 auto 3em auto;
}

div.page {
	padding-top: .9em;
}

div.twocol {
	display: flex;
	align-items: flex-start;
}

div.submenu {
	flex-shrink: 0;
	width: 15%;
	margin-right: .9em;
	border-top: 4px solid #5B8EAA;
	background: #f7f6f2;
}

div.submenu a {
	color: #442d0a;
	text-decoration: none;
	font-size: .9em;
	display: block;
	border-bottom: 1px solid #F0EFEA;
	padding: .5em .6em;
}

div.submenu a:hover {
	text-decoration: underline;
}

div.subpage {
	flex-grow: 1;
}